<h1>New Product</h1>
<div class="form_text">
  <%= form_for @product do |f| %>
  <%= f.label :name %>
  <div class = 'form-field'><%= f.text_field :name %></div>
  <br>
  <%= f.label :country %>
  <div class = 'form-field'><%= f.text_field :country_of_origin %></div>
  <br>
  <%= f.label :cost %>
  <div class = 'form-field'><%= f.number_field :cost %></div>
  <br>
  <div class = 'form-field'>  <%= f.submit  %> </div>
  <% end %>
</div>
